export NPM_CONFIG_USERCONFIG=$PWD/.npmrc

npm_registry_url="$(npm config get registry)"
echo "Current npm registry URL: $npm_registry_url"

if [[ "$npm_registry_url" != *"codeartifact"* ]]; then
  aws codeartifact associate-external-connection \
    --domain uigraph-sdk \
    --repository npm \
    --external-connection public:npmjs

  aws codeartifact login \
    --tool npm \
    --domain uigraph-sdk \
    --repository npm
fi
